<%= form_with model: page, local: true do |form| %> 

  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2 class="link sample_title">
       Liczba błędów:  <%= page.errors.count %> 
      </h2>
      <ul class="alert alert-danger link">
        <% page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= form.label "Nazwa", class: "col-lg-4 offset-lg-4 form_text" %>
      <%= form.text_field :name, class: "col-lg-12" %>
  </div>
    <div class="col-lg-8 offset-lg-2">
      <%= form.label "Opis", class: "col-lg-4 offset-lg-4 form_text" %>
      <%= form.text_area :description, class: "col-lg-12 text_area" %>
  </div>
  <div class="col-lg-8 offset-lg-2">
      <%= form.label "Github", class: "col-lg-4 offset-lg-4 form_text" %>
      <%= form.text_field :github, class: "col-lg-12" %>
  </div>
  <div class="col-lg-8 offset-lg-2">
      <%= form.label "Link", class: "col-lg-4 offset-lg-4 form_text" %>
      <%= form.text_field :website, class: "col-lg-12" %>
  </div>
  <div class="col-lg-8 offset-lg-2">
      <%= form.label "Zdjęcie", class: "col-lg-4 offset-lg-4 form_text" %>
      <%= form.file_field :image %>
      <%= form.submit "Zapisz", class: "col-lg-2 mt-50" %>
  </div>
</div>
  
<% end %>